/*html, body, article, span, applet, object, h2, h3, h4, h5, h6, p, a, blockquote, pre, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video */

.day {
	background: url('assets/cloud-833378.svg');
}

.sunset {
	background: url('assets/sunset.jpg');
}

.night {
	background: url('assets/night.png');
}

header {
	margin: 3%;
	padding: 0;
}

h1 {
	margin: 0;
	padding: 0;
}

a {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-decoration: none;
	color: white;
}

body {
	margin: 0;
	padding: 0;
	border: 0;
	text-decoration: none;
}

h1 {
	display: inline-block;
	float: left;
	font-size: 40px;
	text-align: left;
	font-family: 'Permanent Marker', cursive;
	margin-right: 350px;
	margin-top: 40px;
	margin-left: 5%;
}

#box-title {
	font-family: 'Permanent Marker', cursive;
}

#main-container {
	align-items: center;
	margin-left: 10%;
	background-color: none;
}

p.clear {
	clear: both;
	display: block;
	float: clear;
	font-family: georgia;
	margin: 5%;
}

#services {
	position: relative;
	margin: 20%;
}

#g-25, #y-45, #l-65, #total {
	display: inline-block;
	border-radius: 3px;
	border: 1px;
	width: 50px;
	height: 20px;
	border: 1px solid #ffeb3b;
  background-color: #fafafa;
  margin-top: 5px;
}

#box-title {
	font-family: 'Permanent Marker', cursive;
}

.floated_box {
	border-radius: 5%;
  border: .5px dashed #FFC300;
	padding: 10px;
	font-family: monospace;
	font-size: 14px;
	float: left;
	width: 220px;
	height: 180px;
	margin: 20px;

	max-width: 100%;
}

.calendly-badge-widget {
	right: auto !important;
	left: 50%!important;
}

.left {
	float: left;
}

.clear {
	clear: both;
}

/*.foot-contact {
width: 100%;
margin-top: 100px;
margin-right: 200px;
text-align: right;
font-family: 'Permanent Marker', cursive;
font-size: 30px;
}*/

.sprite {
	background: url('assets/Artboard54.png') no-repeat -27px -43px;
	width: 100%;
	height: 155px;
	position: fixed;
	bottom: 0px;
	margin-top: 300px;
}

/*a:hover {
	color: #FFEA3B;
}*/


/*<!-- Bee Loader A PEN BY Pedro Lobato -->*/

.container {
	margin-left: 5%;
	margin-top: 5%;
	display: inline-block;
}

.bee {
	position: relative;
	margin: 5%;
	-ms-flex-item-align: center;
	-ms-grid-row-align: center;
	align-self: center;
	width: 50px;
	height: 50px;
	-webkit-animation: to-fly 0.4s infinite;
	animation: to-fly 0.4s infinite;
}

.body {
	position: relative;
	width: 40px;
	height: 18px;
	border: 4px solid #fbc02d;
	background: #ffeb3b;
	border-radius: 20px;
	-webkit-perspective: 2500px;
	perspective: 2500px;
	z-index: 99;
}

.body:before, .body:after {
	content: '';
	position: absolute;
	width: 0;
	height: 0;
}

.body:before {
	right: 100%;
	top: 3px;
	border-top: 6px solid transparent;
	border-right: 13px solid #fbc02d;
	border-bottom: 6px solid transparent;
}

.body:after {
	right: 97%;
	top: 6px;
	border-top: 3px solid transparent;
	border-right: 6px solid #ffeb3b;
	border-bottom: 3px solid transparent;
}

.body .line {
	position: relative;
	left: 10px;
	height: 18px;
	width: 18px;
	background: #fbc02d;
}

.wing-right, .wing-left {
	position: absolute;
	top: -18px;
	left: 12px;
	width: 15px;
	height: 15px;
	background: #ffeb3b;
	border: 4px solid #fbc02d;
	border-radius: 100%;
}

.wing-right {
	left: 15px;
	-webkit-transform: skew(-20deg);
	transform: skew(-20deg);
	-webkit-animation: wing-beat-right 0.25s infinite;
	animation: wing-beat-right 0.25s infinite;
	-webkit-transform-origin: bottom;
	transform-origin: bottom;
	z-index: 9;
}

.wing-left {
	-webkit-transform: skew(20deg);
	transform: skew(20deg);
	-webkit-animation: wing-beat-left 0.25s infinite;
	animation: wing-beat-left 0.25s infinite;
	-webkit-transform-origin: bottom;
	transform-origin: bottom;
	z-index: 999;
}

.path {
	display: inline-block;
	position: relative;
	top: -24px;
	left: -90px;
	width: 140px;
	-webkit-animation: pollen 0.14s infinite;
	animation: pollen 0.14s infinite;
}

.pollen {
	display: inline-block;
	margin: 0;
	width: 3px;
	height: 3px;
	background: #fbc02d;
	border-radius: 100%;
}

@-webkit-keyframes to-fly {
	50% {
		-webkit-transform: translateY(-3px);
		transform: translateY(-3px);
	}
	100% {
		-webkit-transform: translateY(0px);
		transform: translateY(0px);
	}
}

@keyframes to-fly {
	50% {
		-webkit-transform: translateY(-3px);
		transform: translateY(-3px);
	}
	100% {
		-webkit-transform: translateY(0px);
		transform: translateY(0px);
	}
}

@-webkit-keyframes wing-beat-right {
	50% {
		-webkit-transform: rotateX(60deg) skew(-20deg) rotateZ(25deg);
		transform: rotateX(60deg) skew(-20deg) rotateZ(25deg);
	}
	100% {
		-webkit-transform: rotateX(0) skew(-20deg);
		transform: rotateX(0) skew(-20deg);
	}
}

@keyframes wing-beat-right {
	50% {
		-webkit-transform: rotateX(60deg) skew(-20deg) rotateZ(25deg);
		transform: rotateX(60deg) skew(-20deg) rotateZ(25deg);
	}
	100% {
		-webkit-transform: rotateX(0) skew(-20deg);
		transform: rotateX(0) skew(-20deg);
	}
}

@-webkit-keyframes wing-beat-left {
	50% {
		-webkit-transform: rotateX(-65deg) skew(20deg) rotateZ(-10deg);
		transform: rotateX(-65deg) skew(20deg) rotateZ(-10deg);
	}
	100% {
		-webkit-transform: rotateX(0) skew(20deg);
		transform: rotateX(0) skew(20deg);
	}
}

@keyframes wing-beat-left {
	50% {
		-webkit-transform: rotateX(-65deg) skew(20deg) rotateZ(-10deg);
		transform: rotateX(-65deg) skew(20deg) rotateZ(-10deg);
	}
	100% {
		-webkit-transform: rotateX(0) skew(20deg);
		transform: rotateX(0) skew(20deg);
	}
}

@-webkit-keyframes pollen {
	0% {
		left: -90px;
	}
	100% {
		left: -95px;
	}
}

@keyframes pollen {
	0% {
		left: -90px;
	}
	100% {
		left: -95px;
	}
}
